[Unit]
Description=Start the camera fullscreen

[Service]
Type=simple
ExecStart=libcamera-hello --viewfinder-width 1920 --viewfinder-height 1080 -f -t 0 &

[Install]
WantedBy=multi-user.target